yolov5l.pt
yolov5s.pt
yolov5x.pt
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/tracking.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
__pycache__/detector_module.cpython-39.pyc
__pycache__/pose_module.cpython-39.pyc
utils/__pycache__/camera_utils.cpython-39.pyc
utils/__pycache__/twoview_geometry.cpython-39.pyc
videos/cam01.mp4
images/
checkpoints/
output/
